body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* MAIN LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    background: #1c1c1c;
    color: white;
    width: 220px;
    height: 100vh;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar a{
    color: white;
    text-decoration: none;
}

.sidebar ul li {
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #333;
}

.logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logo img {
    width: 120px;
}

/* MAIN CONTENT */
.main {
    flex: 1;
    background: #dedede;
}

/* TOP BAR */
.top-bar {
    background: linear-gradient(to right, #8A38F5, #51218F);
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    margin: 0;
    font-size: 40px;
}

.back-btn {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* PROFILE SECTION */
.profile-section {
    display: flex;
    padding: 30px;
}

/* PROFILE CARD */
.profile-card {
    width: 350px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 40px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.image-box {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #eaeaea;
    margin: auto;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: auto;
}

.name {
    margin: 15px 0 5px;
}

.status {
    color: gray;
    margin-bottom: 15px;
}

.edit-btn {
    display: block;
    text-align: right;
    color: #222;
    font-weight: bold;
    margin-top: -10px;
}

/* INPUT FIELDS */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 15px;
    font-weight: bold;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

/* RIGHT SIDE */
.right-section {
    flex: 1;
}

/* SECURITY BOX */
.security-box {
    background: #bbbbbb;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.security-box h3 {
    margin-top: 0;
}

.security-box button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

/* ACCOUNT INFO BOX */
.account-info {
    background: #bbbbbb;
    padding: 20px;
    border-radius: 10px;
}

.account-info h3 {
    margin-top: 0;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.info-row:last-child {
    border-bottom: none;
}
