body {
    margin: 0;
    padding: 0;
    background: #e2e2e2;
    font-family: Arial, sans-serif;
}

.container {
    width: 900px;
    height: 530px;
    background: linear-gradient(180deg, #ffffff, #878787);
    margin: 40px auto;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

/* LEFT SIDE */
.left-side {
    width: 45%;
    background: linear-gradient(180deg, #51218F, #8A38F5);
    padding: 40px;
    color: white;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.logo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.left-side h1 {
    margin-top: 120px;
    font-size: 45px;
    font-weight: 900;
    font-style: italic;
    filter: drop-shadow( 20px -15px rgba(66, 66, 66, 0.308));
}

.left-side h1 span {
    font-weight: 900;
    font-style: italic;
}

.left-side p {
    margin-top: 5px;
    opacity: 0.9;
    font-size: 15px;
}

.login-btn {
    margin-top: 25px;
    padding: 10px 100px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.login-btn a{
    color: white;
    text-decoration: none;
}

.login-btn:hover {
    background: black;
    color: #ffffff;
    border: 2px solid black;
}

/* RIGHT SIDE */
.right-side {
    width: 55%;
    padding: 40px 50px;
    text-align: center;
}

.right-side h2 {
    font-size: 35px;
    font-weight: 800;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.form input {
    padding: 13px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.signup-btn {
    width: 70%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.signup-btn a{
 color: #ffffff;
 text-decoration: none;
}

.signup-btn:hover {
    opacity: 0.8;
    background: linear-gradient(to right, #8A38F5, #51218F);
}

.divider {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(60,60,60);
}

.socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.socials img {
    width: 35px;
    cursor: pointer;
}